
.modal{
    padding-top: 30vh;
}
.modal button {
    font-family: "Cubano Normal",sans-serif;
    background-color: var(--color-350);
    color:var(--color-background);
    padding: 10px 30px;
    font-size: 20px;
    border:none;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin-right: 40px;
    transition: .2s;
}

.modal button:hover{
    background-color:var(--color-400)
}

.modal input,
.modal button{
    padding: 0 20px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    margin: 0 0 10px 0;
    width: min(400px, 100%);

}
.modal button{
    width: calc(min(400px, 100%) + 40px);
}
.modal h1{
    font-family: "Cubano Normal",sans-serif;
    font-size: 40px;
    margin-right: 20px;
    color:var(--color-350);
    user-select: none;
    margin-bottom: 5px;
}