
.text__wrapper{
    margin: 25vh auto 0 ;
    padding: 20px;
    max-width: 800px;
    position: relative;
    max-height: 400px;
}
.text{
    color: var(--color-text-correct);
    font-size: 24px;
    font-family:"Roboto Mono" ,sans-serif;
    line-height: 38px;
    letter-spacing: 0.5px;
}
.cursor{
    position: absolute;
    top: 24px;
    left: 20px;
    width: 3px;
    height: 30px;
    background-color: var(--color-brighter);
    transition: left 0.1s;
    border-radius: 3px;
}
.disabled__letter{
    color: var(--color-text-nottyped);
}
.mistake__letter{
    color: var(--color-text-error);
}