/*@font-face {*/
/*    font-family: 'Roboto Mono';*/
/*    src: local('Roboto Mono'),*/
/*    local('RobotoMono-Regular'),*/
/*    url('../fonts/Robotomono.woff2') format('woff2'),*/
/*    url('../fonts/Robotomono.woff') format('woff'),*/
/*    url('../fonts/Robotomono.ttf') format('truetype');*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/
.text__wrapper{
    max-width: 800px;
    position: relative;
    max-height: 400px;
}
.text{
    color: #d4d4d4;
    font-size: 24px;
    font-family:"Roboto Mono" ,sans-serif;
    line-height: 38px;
    letter-spacing: 0.5px;
}
.cursor{
    position: absolute;
    top: 28px;
    left: 0;
    width: 3px;
    height: 30px;
    background-color: #d5ac00;
    transition: left 0.1s;
    border-radius: 3px;
}
.disabled__letter{
    color: #7b7b7b;
}
