

body {
  margin: 0;
  font-family: 'Cubano Normal' ,sans-serif;
  background:var(--background-gradient) ;
  background-size: cover;
  min-height: 100vh;
  box-sizing: border-box;
}


*{
  transition: color 0.2s,fill 0.1s;
  margin: 0;
}
svg{
  fill:var(--color-faded);
}
svg:hover{
  fill:var(--color-bright);
}
